**IMPORT LIBARY YANG DIBUTUHKAN**

In [ ]:
import pandas as pd

**DOWNLOAD FILE DARI GOOGLE DRIVE**

In [ ]:
!gdown --id 1up5Kg62f_hh3RHyZZ0NyltLQBR44WX_8

Downloading...
From: https://drive.google.com/uc?id=1up5Kg62f_hh3RHyZZ0NyltLQBR44WX_8
To: /content/dataset.xlsx
100% 5.15k/5.15k [00:00<00:00, 5.76MB/s]

**MASUKKAN DATA DARI GOOGLE DRIVE KE DALAM DATAFRAME**

In [ ]:
dataset = pd.read_excel('dataset.xlsx',index_col= 0)
dataset

   baterai  kamera         harga layak
hp
1     kuat  tinggi  sangat murah     y
2     kuat  tinggi  sangat mahal     y
3     kuat  sedang         mahal     y
4     kuat  rendah         mahal     n
5    cukup  tinggi  sangat murah     y
6    cukup  sedang         mahal     y
7    cukup  sedang  sangat mahal     y
8    cukup  tinggi         murah     y
9    cukup  rendah         mahal     n
10   lemah  tinggi  sangat murah     y
11   lemah  tinggi  sangat mahal     n
12   lemah  sedang         mahal     n
13   lemah  sedang         murah     n
14   lemah  rendah  sangat mahal     n

**PROGRAM UNTUK MEMBUAT TABEL TAMBAHAN BERDASARKAN KATEGORI**

In [ ]:
nama_kolom = "baterai" #@param {type:"string"}
kategori = ["kuat", "cukup", "lemah"] #@param {type:"raw"}

dict_final = {
    "kategori_"+nama_kolom : kategori,
    "y":[],
    "n":[]
}

for tipe in kategori:
  temp_layak = dataset[dataset[nama_kolom]==tipe]["layak"].value_counts()
  try:
    dict_final["y"].append(temp_layak["y"])
  except:
    dict_final["y"].append(0)
  try:
    dict_final["n"].append(temp_layak["n"])
  except:
    dict_final["n"].append(0)

baterai = pd.DataFrame(dict_final)

In [ ]:
baterai["y"] = baterai["y"]+1
baterai["n"] = baterai["n"]+1
baterai

  kategori_baterai  y  n
0             kuat  4  2
1            cukup  5  2
2            lemah  2  5

In [ ]:
nama_kolom = "kamera" #@param {type:"string"}
kategori = ["tinggi", "sedang", "rendah"] #@param {type:"raw"}

dict_final = {
    "kategori_"+nama_kolom : kategori,
    "y":[],
    "n":[]
}

for tipe in kategori:
  temp_layak = dataset[dataset[nama_kolom]==tipe]["layak"].value_counts()
  try:
    dict_final["y"].append(temp_layak["y"])
  except:
    dict_final["y"].append(0)
  try:
    dict_final["n"].append(temp_layak["n"])
  except:
    dict_final["n"].append(0)

kamera = pd.DataFrame(dict_final)

In [ ]:
kamera["y"] = kamera["y"]+1
kamera["n"] = kamera["n"]+1
kamera

  kategori_kamera  y  n
0          tinggi  6  2
1          sedang  4  3
2          rendah  1  4

In [ ]:
nama_kolom = "harga" #@param {type:"string"}
kategori = ["sangat mahal", "mahal", "murah", "sangat murah"] #@param {type:"raw"}

dict_final = {
    "kategori_"+nama_kolom : kategori,
    "y":[],
    "n":[]
}

for tipe in kategori:
  temp_layak = dataset[dataset[nama_kolom]==tipe]["layak"].value_counts()
  try:
    dict_final["y"].append(temp_layak["y"])
  except:
    dict_final["y"].append(0)
  try:
    dict_final["n"].append(temp_layak["n"])
  except:
    dict_final["n"].append(0)

harga = pd.DataFrame(dict_final)

In [ ]:
harga["y"] = harga["y"]+1
harga["n"] = harga["n"]+1
harga

  kategori_harga  y  n
0   sangat mahal  3  3
1          mahal  3  4
2          murah  2  2
3   sangat murah  4  1

In [ ]:
kelayakan = pd.DataFrame(dataset["layak"].value_counts())
kelayakan

   layak
y      8
n      6

**MAIN PROGRAM**

In [ ]:
baterai_inp = input("input kualitas baterai: ")
kamera_inp = input("input kualitas kamera: ")
harga_inp  = input("input kualitas harga: ")

baterai2 = baterai.set_index("kategori_baterai")
kamera2 = kamera.set_index("kategori_kamera")
harga2 = harga.set_index("kategori_harga")

ya = ((baterai2.loc[baterai_inp]["n"])/sum(baterai2["y"]) * (kamera2.loc[kamera_inp]["y"])/sum(kamera2["y"]) * (harga2.loc[harga_inp]["y"])/sum(harga2["y"]) * (kelayakan.loc["y"]/ kelayakan.loc["y"]+kelayakan.loc["n"]))
tidak = ((baterai2.loc[baterai_inp]["n"])/sum(baterai2["n"]) * (kamera2.loc[kamera_inp]["n"])/sum(kamera2["n"]) * (harga2.loc[harga_inp]["n"])/sum(harga2["n"]) * (kelayakan.loc["n"]/ kelayakan.loc["n"]+kelayakan.loc["n"]))

pya = ya/(ya+tidak)
print("\npeluang ya :", pya)
ptidak = tidak/(ya+tidak)
print("\npeluang tidak :", ptidak)

if (float(pya)>float(ptidak)):
  print("\nlayak beli")
elif (float(pya)<float(ptidak)):
  print("\ntidak layak beli")
else:
  print("tidak dapat ditentukan")

input kualitas baterai: kuat
input kualitas kamera: tinggi
input kualitas harga: murah

peluang ya : layak    0.625966
dtype: float64

peluang tidak : layak    0.374034
dtype: float64

layak beli